<div class="loader" *ngIf="loader">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<section>
  <form
    #form="ngForm"
    [formGroup]="userForm"
    (ngSubmit)="sendForm(form);
    ">
    <div class="name">
      <mat-form-field appearance="standard">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Имя" formControlName="name">
        <mat-hint class="error"
                  *ngIf="!userForm.get('name').valid && userForm.get('name').touched"
        >Поле является обязательным
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="second-name">
      <mat-form-field appearance="standard">
        <mat-label>Фамилия</mat-label>
        <input matInput placeholder="Фамилия" formControlName="secondName">
        <mat-hint class="error"
                  *ngIf="!userForm.get('secondName').valid && userForm.get('secondName').touched"
        >Поле является обязательным
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="birthday">
      <mat-form-field appearance="fill">
        <mat-label>Дата рождения</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker">
        <mat-hint class="error"
                  *ngIf="!userForm.get('birthday').valid && userForm.get('birthday').touched"
        >Поле является обязательным
        </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="technologies">
      <mat-form-field appearance="fill">
        <mat-label>Технологии</mat-label>
        <mat-select formControlName="technologies">
          <mat-hint class="error"
                    *ngIf="!userForm.get('technologies').valid && userForm.get('technologies').touched"
          >Поле является обязательным
          </mat-hint>
          <ng-container *ngFor="let item of objectKeys(technologies)">
            <mat-option [value]="item">
              {{item}}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-hint class="error"
                  *ngIf="!userForm.get('technologies').valid && userForm.get('technologies').touched"
        >Поле является обязательным
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="version">
      <mat-form-field appearance="fill">
        <mat-label>Версии фреймворка</mat-label>
        <mat-select formControlName="version" [disabled]="!userForm.get('technologies').valid">
          <ng-container
            *ngFor="let version of technologies[userForm.get('technologies').value]">
            <mat-option [value]="version">
              {{version}}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-hint class="error"
                  *ngIf="!userForm.get('version').valid && userForm.get('version').touched"
        >Поле является обязательным
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="email">
      <mat-form-field appearance="standard">
        <mat-label>email</mat-label>
        <input matInput placeholder="email" formControlName="email">
        <mat-hint class="error"
                  *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
          {{((userForm.controls['email'].errors)?.emailIsForbidden) ? "имейл занят" : 'Поле является обязательным'}}
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="hobbies" formGroupName="hobbies">
      <div class="hobbies-name">
        <mat-form-field appearance="standard">
          <mat-label>Название</mat-label>
          <input matInput placeholder="Название хобби" formControlName="name">
          <mat-hint class="error"
                    *ngIf="!userForm.get('hobbies').get('name').valid && userForm.get('hobbies').get('name').touched ">
            Поле является обязательным
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="hobbies-duration">
        <mat-form-field appearance="standard">
          <mat-label>Длительность</mat-label>
          <input matInput placeholder="Длительность в месяцах" formControlName="duration">
          <mat-hint class="error"
                    *ngIf="!userForm.get('hobbies').get('duration').valid && userForm.get('hobbies').get('duration').touched ">
            {{userForm.get('hobbies').get('duration').errors['pattern'] ? 'поле принимает только цифры' : 'поле является обязательным'}}
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="add-hobby">
      <button mat-raised-button type="button" class="add-hobby"
              (click)="addHobby()"
              [disabled]="!userForm.get('hobbies').valid">
        add hobbies
      </button>
    </div>
    <div class="hobbies-list" *ngFor="let hobby of userForm.get('hobby').value">
      <mat-card>
        <div class="">Название хобби: {{hobby.name}}</div>
        <div class="">Длительность: {{hobby.duration}}</div>
      </mat-card>
    </div>
    <div class="divider">
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Отправить</button>
      <button mat-raised-button color="warn" (click)="userForm.reset()">Очистить</button>
    </div>
  </form>
</section>

